<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="keroseneORM"
				 type="Kerosene.ORM.Configuration.ORMConfiguration, Kerosene.ORM" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<connectionStrings>
		<add name="KeroseneDB"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=localhost;Database=KeroseneDB;Integrated Security=true;MultipleActiveResultSets=true;Network Library=DBMSSOCN" />
		<add name="OtherDB"
			 providerName="System.Data.Odbc"
			 connectionString="Server=localhost;Database=KeroseneDB;Integrated Security=true;MultipleActiveResultSets=true" />
	</connectionStrings>

	<keroseneORM>

		<parser complexTags="true" />

		<dataEngine relaxTransformers="true" />

		<customEngines>
			<add id="MyUniqueId"
				 type="Kerosene.ORM.Core.Concrete.DataEngine"
				 assembly="Kerosene.ORM.dll"
				 invariantName="AnInvariantName"
				 serverVersion="1.2.3"
				 caseSensitiveNames="true"
				 parameterPrefix="p"
				 positionalParameters="true"
				 supportsNativeSkipTake="true" />
		</customEngines>

		<dataLink
			connectionString="KeroseneDB"
			retries="5"
			retryInterval="30" />

		<!--Common options for data maps-->
		<dataMap
			enableCollector="true"
			enableCollectorGC="true"
			collectorInterval="5000"
			enableWeakMaps="true"
			trackEntities="true" 
			trackChildEntities="true" />

	</keroseneORM>

</configuration>
